In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv')
df.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
drop_cols=['Embarked','Cabin','Ticket','Name','PassengerId']

In [5]:
df=df.drop(drop_cols,axis=1)

In [6]:
df.fillna(value=df.Age.mean(),inplace=True)

In [7]:
df.head(n=10)

   Survived  Pclass     Sex        Age  SibSp  Parch     Fare
0         0       3    male  22.000000      1      0   7.2500
1         1       1  female  38.000000      1      0  71.2833
2         1       3  female  26.000000      0      0   7.9250
3         1       1  female  35.000000      1      0  53.1000
4         0       3    male  35.000000      0      0   8.0500
5         0       3    male  29.699118      0      0   8.4583
6         0       1    male  54.000000      0      0  51.8625
7         0       3    male   2.000000      3      1  21.0750
8         1       3  female  27.000000      0      2  11.1333
9         1       2  female  14.000000      1      0  30.0708

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [10]:
df.Sex=le.fit_transform(df.Sex)   # male=1 & female=0 is mapped using label encoder.

In [11]:
df.head(n=10)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0         0       3    1  22.000000      1      0   7.2500
1         1       1    0  38.000000      1      0  71.2833
2         1       3    0  26.000000      0      0   7.9250
3         1       1    0  35.000000      1      0  53.1000
4         0       3    1  35.000000      0      0   8.0500
5         0       3    1  29.699118      0      0   8.4583
6         0       1    1  54.000000      0      0  51.8625
7         0       3    1   2.000000      3      1  21.0750
8         1       3    0  27.000000      0      2  11.1333
9         1       2    0  14.000000      1      0  30.0708

In [12]:
input_cols=['Pclass','Sex','Age','SibSp','Parch','Fare']
ouput_cols=['Survived']

In [13]:
X=df[input_cols]
Y=df[ouput_cols]

In [14]:
def entropy(col):
    N=col.shape[0]   # no.of samples
    ent=0.0
    uniques=np.unique(col,return_counts=True)
    for ix in uniques[1]:
        p=ix/N
        ent += (-1.0*p*np.log2(p))
        
    return ent

In [15]:
def divide_data(X_data,fkey,fval):
    
    data_left=pd.DataFrame([],columns=X_data.columns)
    data_right=pd.DataFrame([],columns=X_data.columns)
    
    for ix in range(X_data.shape[0]):
        val=X_data[fkey].loc[ix]  
        
        if val > fval:
            data_right.loc[ix]=X_data.loc[ix]
        else:
            data_left.loc[ix]=X_data.loc[ix]
    return data_left,data_right

In [16]:
def information_gains(X_data,fkey,fval):
    
    left,right=divide_data(X_data,fkey,fval)
    l=float(left.shape[0])/X_data.shape[0]
    r=float(right.shape[0])/X_data.shape[0]
    
    if left.shape[0]==0 or right.shape[0]==0:
        return -100000
    i_gain= entropy(X_data.Survived) - ((l*entropy(left.Survived))+ (r*entropy(right.Survived)))
    
    return i_gain

In [17]:
for fx in X.columns:
    print('The Information Gain of {} is {}'.format(fx,information_gains(df,fx,df[fx].mean())))

The Information Gain of Pclass is 0.07579362743608165
The Information Gain of Sex is 0.2176601066606142
The Information Gain of Age is 0.001158644038169343
The Information Gain of SibSp is 0.009584541813400071
The Information Gain of Parch is 0.015380754493137694
The Information Gain of Fare is 0.042140692838995464

In [18]:
class DecisionTree:
    
    def __init__(self,depth=0,max_depth=5):
        self.depth=depth
        self.max_depth=max_depth
        self.fkey=None
        self.fval=None
        self.left=None
        self.right=None
        self.target=None
        
    def train(self, data):
        features=['Sex','Age','Parch','SibSp','Pclass','Fare']
        info_gains=[]
        
        for ix in features:
            i_gain=information_gains(data,ix,data[ix].mean())
            info_gains.append(i_gain)
        
        self.fkey=features[np.argmax(info_gains)]
        self.fval=data[self.fkey].mean()
        print("Making Tree using ",self.fkey)
        
        data_left,data_right=divide_data(data,self.fkey,self.fval)
        data_left=data_left.reset_index(drop=True)
        data_right=data_right.reset_index(drop=True)
        
        #Truely a leaf Node
        if data_left.shape[0]==0 or data_right.shape[0]==0:
            if data.Survived.mean()>=0.5:
                self.target="Survive"
            else:
                self.target="Dead"
                
            return 
        
        #Early stopping
        if self.depth>=self.max_depth:
            if data.Survived.mean()>=0.5:
                self.target="Survive"
            else:
                self.target="Dead"
                
            return
        print(self.depth)
        # Recursive call
        self.left=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right=DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        ## this is for only root nodes
        if data.Survived.mean()>=0.5:
            self.target="Survive"
        else:
            self.target="Dead"
        return
    
    def predict(self,test):
        
        if test[self.fkey]>self.fval:   #go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        # go to left
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [19]:
dt=DecisionTree()

In [22]:
dt.train(train_data)

Making Tree using  Sex
0
Making Tree using  Parch
1
Making Tree using  Age
2
Making Tree using  SibSp
3
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  Age
4
Making Tree using  SibSp
Making Tree using  Age
Making Tree using  SibSp
3
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  SibSp
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  SibSp
2
Making Tree using  Age
3
Making Tree using  SibSp
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  Parch
4
Making Tree using  Age
Making Tree using  Parch
Making Tree using  SibSp
3
Making Tree using  SibSp
4
Making Tree using  Parch
Making Tree using  Parch
Making Tree using  SibSp
4
Making Tree using  SibSp
Making Tree using  Sex
Making Tree using  Parch
1
Making Tree using  SibSp
2
Making Tree using  Age
3
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  Age
3
Making Tree using  Age
4
Making Tree using  SibSp
Making Tree using  SibSp
Making Tree using  Age
4
Making Tree using  SibSp
Making Tree using  Age
Making Tree using  SibSp
2
Making Tree using  Age
3
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  SibSp
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  Age
3
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age
Making Tree using  Age
4
Making Tree using  Age
Making Tree using  Age

In [24]:
y_pred=[]
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
SibSp
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
SibSp
SibSp
SibSp
SibSp
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
Age
SibSp
Age
SibSp
SibSp
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
SibSp
SibSp
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
SibSp
Age
Age
Parch
SibSp
Age
SibSp
Age
Age
Parch
Age
SibSp
SibSp
Age
Age
Parch
SibSp
Age
SibSp
Age
Age
Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
SibSp
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
SibSp
SibSp
Parch
SibSp
Age
Age
SibSp
SibSp
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
SibSp
SibSp
Sex
Sex
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Parch
Age
Age
Parch
SibSp
Age
SibSp
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Parch
Parch
Parch
Parch
SibSp
Age
Age
Age
Age
Parch
Age
SibSp
Age
Age
Age
Parch
SibSp
Age
Parch
Parch
Parch
Parch
SibSp
Age
Age
Age
Age
Parch
SibSp
Age
Age
Age
Age

In [25]:
y_pred=le.fit_transform(y_pred)

In [26]:
y_pred.shape

(90,)

In [27]:
actual=test_data.Survived

In [28]:
np.sum(y_pred==actual)

76

In [29]:
acc=(np.sum(y_pred==actual)/test_data.shape[0])*100
print("Accuracy of Decision Tree is {}".format(acc))

Accuracy of Decision Tree is 84.44444444444444